* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Outfit', sans-serif;
}

/* container style */

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(120deg, #000036, #353484, #6D60AE, #D8ABED);
    padding: 10px;
}

/* header style */

.header {
    width: 100%;
    max-height: 400px;
    max-width: 540px;
    margin: 25px auto 20px;
    color: #fff;
    padding: 0px 30px 0px;
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.header p {
    font-size: 1.5rem;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
	        animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
}

/* menu content style */

.menu {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
    gap: 70px;
    border-radius: 5px;
}

.card {
    width: 75%;
    padding: 30px;
    max-width: 320px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 8px 0px #000;
    font-weight: 200;
    font-size: 1.12rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
}

.card img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 920px) {
    .menu {
        flex-direction: column;
        gap: 5px;
    }
}

 @keyframes text-focus-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .hidden {
    display: none;
  }