.container-quiz {
    color: #000;
    background-color: #fff;
    width: 100%;
    max-width: 540px;
    height: 85vh;
    max-height: 683px;
    overflow: hidden;
    margin: 25px auto;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.question-header {
    color: var(--lilac);
    text-align: center;
    font-weight: 600;
}

.question-header h1 {
    padding: 30px 30px 20px 30px;
}

.question-header span {
    border: 2px solid rgba(104, 101, 101, 0.305);
    padding: 5px 15px;
    font-size: 1.3rem;
}

.quiz-question {
    color: #000;
    padding: 45px;
    font-size: 1.3rem;
}

.quiz-options {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.3rem;
}

.option {
    background-color: var(--lilac);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    list-style: none;
    box-shadow: 0px 5px 5px 0px var(--box-shadow);
}

.option.correct,
.option.correct:hover {
    background-color: rgb(88, 185, 88);
}

.option.wrong,
.option.wrong:hover {
    background-color: rgba(206, 38, 38, 0.744);
}

.option.correct:hover,
.option.wrong:hover {
    color: #fff;
}


.div-button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.div-button button {
    padding: 15px 50px;
    border-radius: 10px;
    background-color: var(--lilac);
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px var(--box-shadow);
}

.div-button button:hover,
.option:hover {
    background-color: rgb(164, 164, 255);
    color: #000;
}

.div-button button:active,
.option:hover:active {
    box-shadow:  inset 0px 5px 5px 0px var(--box-shadow);
}

@media screen and (max-width: 920px) {
    .container-quiz {
        height: 100vh;

    }

    .quiz-question {
        padding: 30px;
    }

    .option, .quiz-question {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@-webkit-keyframes scale-up-center {
0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
@keyframes scale-up-center {
0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
